/* atkinson-hyperlegible-regular - latin_latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */
  }
  /* atkinson-hyperlegible-italic - latin_latin-ext */
  @font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  src: url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/CapaxInfiniti.Landing/public/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */
  }
/* fondamento-regular - latin_latin-ext */
@font-face {
  font-family: 'Fondamento';
  src: url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-regular.svg#Fondamento') format('svg'); /* Legacy iOS */
  }
  /* fondamento-italic - latin_latin-ext */
  @font-face {
  font-family: 'Fondamento';
  font-style: italic;
  src: url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('/CapaxInfiniti.Landing/public/assets/fonts/fondamento-v20-latin_latin-ext-italic.svg#Fondamento') format('svg'); /* Legacy iOS */
  }